@font-face {
	font-family: "OpenSans", sans-serif;
	font-style: normal;
	font-weight: normal;
	src: url("../assets/fonts/OpenSans-Regular.ttf") format("ttf");
}
html {
	font-family: "OpenSans", sans-serif;
}
